# Eclipse

bin
*.launch
.settings
.metadata
.classpath
.project

# Idea
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
.gradle

# Others
eclipse
run

viaforge-mc189/publishMods/*

# Files from Forge MDK
forge*changelog.txt
