name: Build
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          check-latest: true
      - name: Build with Gradle
        run: ./gradlew shadowJar
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ViaForge All-in-One
          path: viaforge-mc*/build/libs/
